---
interface Props {
  class?: string;
  containerClass?: string;
}
const { class: className, containerClass } = Astro.props;
---

<div class={`flex flex-row gap-1 ${containerClass}`}>
  <!-- Linkedin -->
  <a
    href="https://linkedin.com/in/sophiahhuang"
    target="_blank"
    aria-label="Go to my linkedin page"
  >
    <svg
      class={className}
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5zM7 17v-7"
        stroke-linecap="round"
        stroke-linejoin="round"></path><path
        d="M11 17v-3.25M11 10v3.75m0 0c0-3.75 6-3.75 6 0V17M7 7.01l.01-.011"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </a>
  <!-- Notion -->
  <a
    href="https://sophiahhuang.notion.site/sophiahhuang/dea36b4a59be4718b9f8ee56d612c157?v=1d2ffbda2cbc4b5e8b638ae82b4e6b6b"
    target="_blank"
    aria-label="Go to my notion page"
  >
    <svg
      class={className}
      viewBox="0 0 25 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g
        id="Group"
        transform="translate(12.030508, 12.020339) scale(-1, 1) rotate(-180.000000) translate(-12.030508, -12.020339) translate(0.030508, 0.020339)"
      >
        <path
          d="M8.91864407,22.4440678 C8.77627119,22.4237288 7.95254237,22.3525424 7.08813559,22.2915254 C4.6779661,22.1084746 3.55932203,21.6508475 2.7559322,20.5322034 C2.00338983,19.4949153 1.87118644,18.8949153 1.64745763,15.7830508 C1.35254237,11.5627119 1.56610169,6.40677966 2.10508475,4.68813559 C2.47118644,3.49830508 3.50847458,2.45084746 4.69830508,2.05423729 C6.9559322,1.3220339 16.7186441,1.28135593 19.1898305,2.00338983 C20.4508475,2.37966102 21.559322,3.51864407 21.9355932,4.83050847 C22.3016949,6.13220339 22.4745763,9.03050847 22.4135593,12.9355932 C22.3220339,18.6508475 22.0474576,19.9525424 20.6847458,21.1322034 C19.8610169,21.8338983 19.3016949,22.0271186 17.4610169,22.2508475 C16.3016949,22.3932203 9.61016949,22.5355932 8.91864407,22.4440678 Z M16.2305085,21.9254237 C17.4610169,21.8338983 18.6,21.6915254 18.9966102,21.5898305 C20.2271186,21.2440678 21.2237288,20.2576271 21.559322,19.0372881 C22.2101695,16.7288136 22.179661,6.99661017 21.5288136,4.82033898 C21.1728814,3.65084746 20.2576271,2.76610169 19.0576271,2.42033898 C16.7084746,1.73898305 6.83389831,1.75932203 4.82033898,2.45084746 C3.66101695,2.85762712 2.78644068,3.74237288 2.46101695,4.86101695 C2.22711864,5.67457627 2.02372881,8.01355932 1.94237288,10.8508475 C1.86101695,13.6474576 2.10508475,17.6745763 2.41016949,18.9050847 C2.76610169,20.2881356 3.69152542,21.2237288 5.10508475,21.620339 C6.61016949,22.0372881 12.559322,22.2101695 16.2305085,21.9254237 Z"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="0.3"></path><path
          d="M15.1220339,17.9288136 C14.3186441,17.8576271 14.1355932,17.7559322 14.0135593,17.3288136 C13.9118644,16.9830508 13.9322034,16.9728814 14.8169492,16.8813559 L15.0711864,16.8508475 L15.0711864,15.7322034 C15.0610169,13.0576271 14.979661,10.2915254 14.9186441,10.2915254 C14.8677966,10.2915254 14.8067797,10.3728814 14.7762712,10.4745763 C14.7355932,10.5661017 13.779661,12.2644068 12.6508475,14.2372881 L10.6067797,17.8169492 L9.52881356,17.8067797 C7.93220339,17.7966102 6.91525424,17.6847458 6.7220339,17.5016949 C6.64067797,17.4101695 6.52881356,17.1762712 6.48813559,16.9830508 L6.40677966,16.6271186 L6.9559322,16.5661017 C7.26101695,16.5355932 7.53559322,16.4949153 7.54576271,16.4745763 C7.56610169,16.4542373 7.53559322,15 7.49491525,13.240678 C7.4440678,11.4813559 7.38305085,9.36610169 7.37288136,8.54237288 L7.34237288,7.04745763 L6.88474576,6.92542373 C6.37627119,6.79322034 6.17288136,6.6 6.17288136,6.27457627 C6.17288136,6.06101695 6.20338983,6.06101695 7.62711864,6.09152542 C9.57966102,6.14237288 9.91525424,6.19322034 10.2,6.4779661 C10.5864407,6.86440678 10.5050847,6.97627119 9.75254237,7.16949153 L9.05084746,7.35254237 L9.10169492,9.25423729 C9.1220339,10.3016949 9.17288136,11.8983051 9.21355932,12.7932203 L9.27457627,14.4305085 L11.359322,10.6677966 C12.6508475,8.33898305 13.5966102,6.73220339 13.8508475,6.46779661 C14.3491525,5.93898305 14.7762712,5.83728814 15.5491525,6.06101695 C16.5050847,6.33559322 16.4237288,5.90847458 16.5457627,10.9016949 C16.6067797,13.3322034 16.6779661,15.7016949 16.7084746,16.159322 L16.7694915,16.9830508 L17.2067797,17.0949153 C17.6644068,17.2067797 17.8677966,17.4305085 17.8677966,17.8067797 C17.8677966,18.0101695 17.8169492,18.020339 16.8305085,18 C16.2508475,17.9898305 15.4881356,17.959322 15.1220339,17.9288136 Z M16.7389831,17.5525424 C16.8508475,17.5220339 16.8101695,17.4305085 16.6067797,17.2169492 C16.2813559,16.8813559 16.3118644,17.3084746 16.1288136,10.6983051 C16.0474576,7.56610169 15.9966102,6.75254237 15.8745763,6.63050847 C15.7932203,6.54915254 15.4677966,6.46779661 15.0915254,6.44745763 C14.4915254,6.40677966 14.440678,6.42711864 14.1457627,6.7220339 C13.9830508,6.88474576 12.9661017,8.62372881 11.8779661,10.5661017 C9.54915254,14.7661017 9.32542373,15.0508475 8.97966102,14.3694915 C8.85762712,14.1457627 8.80677966,13.3627119 8.73559322,10.840678 C8.63389831,7.30169492 8.6440678,7.21016949 9.17288136,6.93559322 C9.34576271,6.85423729 9.49830508,6.77288136 9.52881356,6.75254237 C9.70169492,6.64067797 9.1220339,6.52881356 8.2779661,6.52881356 L7.28135593,6.52881356 L7.49491525,6.81355932 C7.68813559,7.0779661 7.70847458,7.31186441 7.8,9.88474576 C7.85084746,11.420339 7.90169492,13.5355932 7.9220339,14.5830508 C7.94237288,16.2915254 7.93220339,16.5050847 7.75932203,16.6779661 C7.66779661,16.7898305 7.46440678,16.9118644 7.33220339,16.9423729 C7.18983051,16.9830508 7.08813559,17.0644068 7.11864407,17.1355932 C7.15932203,17.2677966 9.99661017,17.4915254 10.2711864,17.379661 C10.3525424,17.3491525 11.2983051,15.7932203 12.3661017,13.9220339 C13.4440678,12.040678 14.4305085,10.3932203 14.5830508,10.2508475 C14.8576271,9.96610169 15.1322034,10.0169492 15.2745763,10.3627119 C15.3152542,10.4644068 15.3864407,11.9084746 15.4474576,13.5762712 C15.559322,16.9525424 15.559322,16.9728814 14.8881356,17.2576271 C14.420339,17.4610169 14.5830508,17.5016949 16.1898305,17.5830508 C16.4135593,17.5932203 16.6576271,17.5830508 16.7389831,17.5525424 Z"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="0.3"></path>
      </g>
    </svg>
  </a>

  <!--Github-->
  <a
    href="https://github.com/sophiahhuang"
    target="_blank"
    aria-label="Go to my github page"
  >
    <svg
      class={className}
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z"
        stroke-linecap="round"
        stroke-linejoin="round"></path><path
        d="M14.333 19v-1.863c.025-.31-.018-.62-.126-.913a2.18 2.18 0 00-.5-.781c2.093-.227 4.293-1 4.293-4.544 0-.906-.358-1.778-1-2.434a3.211 3.211 0 00-.06-2.448s-.787-.227-2.607.961a9.152 9.152 0 00-4.666 0c-1.82-1.188-2.607-.96-2.607-.96A3.211 3.211 0 007 8.464a3.482 3.482 0 00-1 2.453c0 3.519 2.2 4.291 4.293 4.544a2.18 2.18 0 00-.496.773 2.134 2.134 0 00-.13.902V19M9.667 17.702c-2 .631-3.667 0-4.667-1.948"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </a>

  <!-- Twitter -->
  <a
    href="https://twitter.com/shh223"
    target="_blank"
    aria-label="Go to my twitter page"
  >
    <svg
      class={className}
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M23 3.01s-2.018 1.192-3.14 1.53a4.48 4.48 0 00-7.86 3v1a10.66 10.66 0 01-9-4.53s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5 0-.278-.028-.556-.08-.83C21.94 5.674 23 3.01 23 3.01z"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </a>
  <!-- Instagram -->
  <a
    href="https://www.instagram.com/shh223/"
    target="_blank"
    aria-label="Go to my instagram page"
  >
    <svg
      class={className}
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M12 16a4 4 0 100-8 4 4 0 000 8z"
        stroke-linecap="round"
        stroke-linejoin="round"></path><path
        d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z"
      ></path><path
        d="M17.5 6.51l.01-.011"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </a>
  <!--Youtube-->
  <!--
  <a
    href="https://youtube.com"
    target="_blank"
    aria-label="Go to my youtube page"
  >
    <svg
      class={className}
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M14 12l-3.5 2v-4l3.5 2z"
        fill="#000000"
        stroke-linecap="round"
        stroke-linejoin="round"></path><path
        d="M2 12.707v-1.415c0-2.895 0-4.343.905-5.274.906-.932 2.332-.972 5.183-1.053C9.438 4.927 10.818 4.9 12 4.9c1.181 0 2.561.027 3.912.065 2.851.081 4.277.121 5.182 1.053.906.931.906 2.38.906 5.274v1.415c0 2.896 0 4.343-.905 5.275-.906.931-2.331.972-5.183 1.052-1.35.039-2.73.066-3.912.066-1.181 0-2.561-.027-3.912-.066-2.851-.08-4.277-.12-5.183-1.052C2 17.05 2 15.602 2 12.708z"
      ></path>
    </svg>
  </a>
  -->
</div>
